<div class="rest">
<h2 class="text">Restoration of Almaty by Daryn Nurlan</h2>
  <div class="image">
    <img src="/assets/akymat.jpg" alt="Responsive image" height="300px" width="600px">
    <i class="bi bi-person-circle"></i>
    <p class="txt">Daryn Nurlan is organizing this fundraiser.</p>
    <hr class="solid">
    <p class="txt">Created 32 hours ago   |   Accidents and Emergiencies</p>
    <hr class="solid">
    <p class="txt">Hello everyone. We are organizing a donation for the restoration of the city of Almaty
      after the <br> attacks of terrorists and bandit looters. We ask you to help as much as you can.</p>
    <p class="txt">Sincerely, Daryn.</p>
    <h3 class="txt1">Organizer</h3>
    <hr class="solid">
    <p class="txt">Daryn Nurlan <br> Organizer <br> Almaty, Kazakhstan</p>
    <button type="button" class="btn ">Contact</button>
    <h3 class="txt1">Comments (4256)</h3>
    <hr class="solid">
    <p class="txt" style="font-weight: bold">Alua Zhakiyeva donated ₸15000 </p>
    <p class="txt" >I hope our city will be restored soon! </p>
  </div>
  <div class="container">
    <button type="button" class="button " routerLink="/donation">Donate</button>
  </div>
</div>
